#OktaLogo {
    width: 100px;
}

.header #OktaLogo path {
    fill: #1FB3DD;
}

.header {
    background: #363749;
}

.header-ext {
    color: #000000;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.section {
    background-image: -webkit-linear-gradient(top left, #333446 0%, #393B4E 100%);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-radius: 5px;
    padding-top: 10px; 
    padding-bottom: 10px;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

.left-col {
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

.main {
    padding: 15px;
    height: calc(100% - 80px);
}

.main .container-fluid {
    height: 100%;
}

.row-100 {
    height: 100%;
}

.list-group-item {
    background-color: #37394A;
    padding: 0.5rem 1.25rem;
}

.components .list-group-item:hover {
    cursor: pointer;
}

ui-switch {
    position: relative;
    top: 3px;
    float: right;
}